<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.snowbeertrekker.dao.AllianceRepository">
    <select id="findOne" resultType="com.shmilyou.snowbeertrekker.entity.Alliance">
        <include refid="base.select"/>
        alliance
        WHERE id=#{id}
    </select>

    <insert id="insertOne" parameterType="com.shmilyou.snowbeertrekker.entity.Alliance" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `alliance`(`company`, `logo`, `link`)
        VALUES (#{company},#{logo},#{link})
    </insert>

    <select id="findAll" resultType="com.shmilyou.snowbeertrekker.entity.Alliance">
        <include refid="base.select" />
        alliance
    </select>
</mapper>