<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shmilyou.snowbeertrekker.dao.FootageRepository">
    <insert id="insertOne" parameterType="com.shmilyou.snowbeertrekker.entity.Footage" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO footage(content,photo)
        VALUES (#{content},#{photo})
    </insert>

    <select id="findOne" resultType="com.shmilyou.snowbeertrekker.entity.Footage">
        <include refid="base.select" />
        FROM footage
        WHERE id=#{id}
    </select>
</mapper>